# Okta
OKTA_ORG_NAME=dev-xxxxxxxx
OKTA_ORG_URL="https://$OKTA_ORG_NAME.okta.com"
OKTA_API_TOKEN=1password-cli-secret-reference-here

# Terraform variables for Okta provider
TF_VAR_okta_org_name=$OKTA_ORG_NAME
TF_VAR_okta_api_token=$OKTA_API_TOKEN
